@font-face {
    font-family: 'Signifier';
    src: url('Signifier-Regular.woff2') format('woff2'),
        url('Signifier-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

